/*
 * Post menu
 */

.post-menu {
  padding-left: 20px;
  min-width: 200px;
  max-width: 230px;

  .post-menu-title {
    font-size: $base-font-size * 1.5;
    margin-bottom: 14px;
    font-weight: 600;
    color: #222;
  }

  .post-menu-content {
    ul {
      border-left: 1px solid #e9ecef;
      padding-left: 0;
      $indent: calc($base-font-size / 4);
      $active-bgcolor: #ecebec;

      @for $i from 2 to 7 {
        .h-h#{$i} {
          position: relative;
          margin: 6px 0;
          padding-inline-start: $indent + 14px + ($i - 2) * $base-font-size * 0.95;
          font-size: $base-font-size * 0.95;
          line-height: 1.35;

          &::before {
            content: "";
            position: absolute;
            top: 0.86em;
            left: -4px;
            width: 7px;
            height: 7px;
            border: 1px solid #389092;
            border-radius: 50%;
            background: #fff;
            transform: translateY(-50%);
          }
        }
      }

      a {
        display: flex;
        padding: 7px 10px;
        border-radius: 6px;
        color: darken($text-color, 10%);
        font-weight: 500;

        * {
          pointer-events: none;
        }

        &:hover {
          text-decoration: none;
          color: darken($text-color, 20%) !important;
          background-color: rgba(56, 144, 146, 0.08);
        }
      }

      .active {
        background-color: $active-bgcolor;
        transition: background 0.5s;
        border-radius: 6px;

        &:hover {
          background-color: lighten($active-bgcolor, 2%);
        }

        &::before {
          background: #389092;
          border-color: #389092;
        }

        a {
          color: #121416;
        }
      }
    }
  }
}
